.implement{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
   }
.content {
    max-width: auto;
    margin: auto;
    padding: 15px 25px;
    color: #1049A9;
    line-height: 30px;
}
